<header class="main-header">
  <nav id="nav">
    <ul id="menu">
      <li class="item"><a href="/financas">Finanças</a></li>
      <li class="item"><a href="/sobre">Sobre nós</a></li>
      <li class="item"><a href="/login">Login</a></li>
    </ul>
  </nav>
  <button id="side-menu-toggle">
    <span class="material-symbols-outlined"> menu </span>
  </button>
  <span class="logo">
    <a href="/"><b>f</b>.ai</a>
  </span>
</header>
<script src="/js/nav.js"></script>
