<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('../includes/nav.ejs')%>
    <div class="main_index" class="wrapper">
        <div class="main_card" >
          <h2> Tá esperando o quê para por suas finanças em dia?</h2>
        </div>
        <div class="break"></div>
        <div class="main_card" id="login">
          <span class="material-symbols-outlined">
          person
          </span>
          LOGIN
        </div>
        <div class="main_card" id="login"><span class="material-symbols-outlined">
          person_add
          </span>
          &nbspCADASTRO
        </div>
        <div class="card_app"><h2><a href="/sobre">Saiba mais sobre o app</a></h2></div>
       
      </div>
      
  </body>
</html>
