header {
    font-size:1em;
    text-align: center;
    height: 10px;
    width: 90%;
    border: 3px;
    justify-content: center;
    margin: 0 auto;
}
#gastos {
    margin-top: 50px;
    height: 200px;
    background-color: red;
    overflow:auto;
}
#inputGastos{
    height: 40px;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
}

#totalGastos{
    background-color: red;
    width: 60%;
    height: 50px;
    text-align: center;
    justify-content:center;
    align-items: center;
    margin: auto;
    font-size: 1.2em;
}

.botãoInput1{
    text-align: center;
    justify-content: center;
}
#inputGanhos{
    height: 40px;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
}
#ganhos {
    margin-top: 137px;
    height: 200px;
    background-color: green;
    overflow: auto;
    text-align: justify;
}
#totalGanhos{
    background-color: green;
    width: 60%;
    height: 50px;
    text-align: center;
    justify-content:center;
    align-items: center;
    margin: auto;
    font-size: 1.2em;
}
#totalLiq{
    background-color: blue;
    width: 60%;
    height: 50px;
    text-align: center;
    justify-content:center;
    align-items: center;
    margin: 130px auto;
    font-size: 1.2em;

}
